/* 
    Document   : administracion
    Created on : 29-mar-2011, 12:52:11
    Author     : Vanesa
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/
html
{
    margin: 0%;
    padding: 0;
    height: auto;

}
body{
    font: 9pt verdana, sans-serif;
    line-height: 1.7;
    color: rgb(76,76,76);
    background-color: #EEEEEE;
    margin-left: 100px;
    margin-right: 100px;
    padding: 0;
    height: auto;
}

input[type=submit], input[type=button], input[type=reset], button, .boton{
    font-size: 1em;
    color: white;
    background-color: #5179C9;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 2px;
    margin: 2px;
    cursor: pointer;
}

input[type=submit]:hover, input[type=button]:hover, input[type=reset]:hover, 
button:hover, .boton:hover{
    background-color: #81a9f9;
    border-color: #5179C9;
}

a, input.enlace{
    text-decoration: none;
    font-weight: bold;
    color: #5179c9;
    background-color: transparent;
    border: 0;
    border-radius: 0;
    padding: 0;
    margin: 0;
}

a:hover, input.enlace:hover{
    text-decoration: none;
    font-weight: bold;
    color: #314E89;
    background-color: transparent;
    border: 0;
    border-radius: 0;
}

#titulo{
    padding:4px;
    padding-left: 10px;
    border-left: 10px solid rgb(76,76,76);
    border-bottom:1px solid rgb(76,76,76);
    font-size: 20px;
    font-weight: bold;
}

#menu{
    width: 300px;
    float:right;
    text-align: right;
    font-size: 14px;
}

#indice {

}

/*indesUsuarios.js*/

#usuarios{
    /*border:1px solid red;*/
}

#comentario{
    text-align: center;
    font-size: 14px;
    color: #314E89;
    margin-top:40px;
}

/*#comentario span{
    border:2px solid #314E89;
    padding:10px;
}*/
/*listaUsuarios.js*/
#lista{
    text-align:center;
}

.centrar{
    margin:0px auto;
}

.resaltarCelda{
    background-color:#ddd;
}

#lista table, #lista h3{
    width:80%;
    margin:0px auto;
    margin-top:10px;
}

#lista th{
    width:10%;
    border-bottom:1px solid rgb(76,76,76);
    
}

#lista th.text{
    width:25%;
    border-bottom:1px solid rgb(76,76,76);
    
}

#lista td{
    border-bottom:1px solid rgb(76,76,76);
}

/*editUsuario.jsp*/
#edit{
    width:80%;
    border:2px solid #314E89;
    text-align: left;
}

#edit td.cab{
    width: 200px;
    text-align: right;
    padding-right: 3px;
    font-weight: bold;
}

#edit input[type="text"]{
    width: 100px;
}

#edit input.size{
    width: 350px;
    font-size: smaller;
}

#cntButons {
    width: 100%;
    text-align: center;
}

#edit .footer{
    text-align: center;
}


ul.cntElementos{
  padding: 3px; 
  margin: 0;
  overflow: hidden;
}

ul.cntElementos li{
    border-radius: 4px;
    background-color: white;
    padding: 2px 3px;
    float: left;
    list-style: none;
    margin: 3px 5px 3px 0;
    border: 1px solid #d0d0d0;
}

ul.cntElementos li a{
    /*display: inline-block;*/
    padding: 0 2px;
}

ul.cntElementos li.eliminado{
    display: none;
}

.formNuevo{
    margin: 3px 5px 10px 10px;
}

.formNuevo .boton{
    color: white;
    background-color: #5179C9;
    border: 0;
    border-radius: 4px;
    padding: 2px;
    
}

#edit #txtTitulo{
    width: 200px;
}

#edit #txtCover{
    width: 390px;
    max-width: 390px;
    min-width: 390px;
}